* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Freight big pro";
}

body {
  height: 100vh;
  width: 100%;
}

.nav {
  position: absolute;
  width: 100%;
  padding: 1.4vw 2.8vw;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.nav svg path {
  fill: #000;
}

#nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2vw;
}

#nav-list h2 {
  cursor: pointer;
}

/* page 1 */
.page1 {
  height: 100vh;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page1 h1 {
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 6.5vw;
  line-height: 5.5vw;
}

/* Page 2 */

.page2 {
  height: 100vh;
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #000;
}

.page2 .elem {
  width: 100%;
  position: relative;
  cursor: pointer;
}

.elem .blur {
  position: absolute;
  width: 35%;
  height: 100%;
  left: 50%;
  top: 50%;
  background: linear-gradient(to right, #f5e31bf6, #f5e41b, #f5e31bf6);
  transform: translate(-50%, -50%);
  z-index: 8;
  box-shadow: 10px 0px 20px 20px #f5e41b, -10px 0px 20px 100px #f5e41b;
}

.elem h2 {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 6.8vw;
  position: relative;
  z-index: 9;
  line-height: 5vw;
}

.elem .moving {
  overflow: hidden;
  background-color: #f5e41b;
  width: 100%;
  white-space: nowrap;
  position: absolute;
  top: 55%;
  transform: translate(0, -40%) scaleY(0);
  transition: all ease 0.3s;
}

.elem .moving .moving-in {
  display: inline-block;
  white-space: nowrap;
  animation-name: moving;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.elem .moving .moving-in h5 {
  opacity: 0;
  color: black;
  display: inline-block;
  font-size: 1vw;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "gilroy";
  margin-right: 2rem;
  transition: all ease 0.2s;
  transition-delay: 0.2s;
}

.elem:hover .moving {
  transform: translate(0, -40%) scaleY(1);
}

.elem:hover .moving h5 {
  opacity: 1;
}

@keyframes moving {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* page 3  */

.page3 {
  margin-top: 10vw;
  min-height: 100vh;
  width: 100%;
  background-color: #fff;
}

.img-Container {
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* padding: 0 2vw 2vw 2vw; */
  padding: 2vw;
  align-items: flex-start;
}

.imgDiv {
  height: 40vw;
  width: 30vw;
  position: relative;
  overflow: hidden;
  margin: 1vw;
}

.imgDiv img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.filters {
  padding: 0 0 0 2vw;
  display: flex;
  column-gap: 1vw;
}

.filters .button {
  font-size: 2vw;
  opacity: 1;
  padding: 0.5vw 1vw;
  background-color: #fff;
}

.filters .button:hover {
  background-color: rgba(128, 128, 128, 0.231);
}

/* page 4  */
.page4 {
  margin-top: 15vw;
  margin-bottom: 10vw;
  height: 100vh;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10vw;
  display: flex;
  flex-direction: column;
  row-gap: 3vw;
  justify-content: center;
  align-items: center;
}

.page4 h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 4vw;
  line-height: 5.5vw;
}

.page4 h1 em {
  text-transform: none;
}

.button {
  text-transform: capitalize;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.3vw;
  padding: 0.5vw 1vw;
  border: none;
  border-radius: 0.3rem;
  transition: all ease 0.5s;
}

#connectBtn {
  color: #0000009a;
}

#connectBtn:hover {
  color: #000;
}

/* footer */

footer #back {
  padding: 0 2vw 2vw 2vw;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #00000079;
  cursor: pointer;
}

#back:hover {
  color: #000000df;
}

footer .footer {
  color: #000;
  padding: 2vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 20vh;
  background-color: #000;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer .left {
  display: flex;
  flex-direction: column;
}

.footer .left h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}

.footer .right ul li a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 1.5vw;
}

.footer .right ul {
  list-style: none;
}

.footer .right {
  display: flex;
  gap: 4vw;
}

a .ri-copyright-line {
  font-size: 1.3vw;
}

.right a {
  position: relative;
  text-decoration: none;
  color: #fff;
  padding-bottom: 5px;
  width: fit-content;
  display: inline-block;
}

.right a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease;
}

.right a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* HoverBottom */
.HoverBottom {
  position: relative;
  text-decoration: none;
  color: #000;
  padding-bottom: 5px;
  width: fit-content;
  margin: 0 auto;
}

.HoverBottom::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #000;

  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}

.HoverBottom:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
